body {
    background: #914f88;}
h1 {
    text-align: center;
    border: 10px solid black;
    padding: 20px;
}
p {
    text-align: center;
    background: #cccccc;
}
em strong {
    color:#de2d2d;
}
#missao {
    font-size: 20px;dknckjdbjb x bnk nc nmnx n,d m,nm  m mzc ds knsd jnd cbhj dsbcbuiwbwiebdihuegfdiuewgiywfuewiyhfeywhbcyhibewdyhicvhibhidbcbjdbhjcsbhdsbhc hdshc ewjdbiujebcjbdKSBC KWEDBKJDBCUJWEBDOUCIHWEUBCUEDWUIVCUEWDCUWEUBCHIDVSHC EWFHEWHIFVWEUCVEWVCFDUEWBCFBWEUIVCFI´DSVCXBUIDJSXSSSSSSFIOFEOWICFSD
}
 #misao{
    style="fonte-size: 20px;"
 }
 #banner{
    width:100%;
 }
.beneficios{
    background:#208eb9
}
.imagembenebeneficios{
    width:50%
}
H2{
    text-alingn:center;
}
.itens{
    font-sttyle: center;
}
li{
    border:3px  solid #black;
}